{% include "layout.html" %}

{% load static %}

{% block content %}
<section id="main">
    <div class="container">
      <figure class="star">
        <img src="{% static 'images/icon-star.svg' %}" alt="icono de estrella">
      </figure>

      <section class="content">
        <h1 class="content_title text-preset-2">How did we do?</h1>
        <p class="content_subtitle text-preset-5-regular">Please let us know how we did with your support request. All feedback is appreciated to help us improve our offering!</p>

        <article class="content_numbers">
          <div class="content_numbers-btn text-preset-3">1</div>
          <div class="content_numbers-btn text-preset-3">2</div>
          <div class="content_numbers-btn text-preset-3">3</div>
          <div class="content_numbers-btn text-preset-3">4</div>
          <div class="content_numbers-btn text-preset-3">5</div>
        </article>
      </section>

      <div class="button">
        <p class="btn text-preset-5-bold"><a class="boton" href="{% url 'final' %}">SUBMIT</a></p>
      </div>

    </div>


  </section>

{% endblock %}
